// Settings

// Generic

// Base
@import 'px-flexbox-design/_base.flexbox.scss';

// Meta

// Objects

.kpi-bar-wrapper {
  width: 100%;
  min-width: 810px;
  height: 67px;
  max-height: var(--kpi-bar-wrapper-height, 80px);
}

.kpi-bar-meter-wrapper {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
}

.kpi-bar-meter-bar-wrapper {
  display: inline-block;
  width: 4px;
  height: 60%;
  background-color: #ccc;
  border-radius: 1px;
  overflow: hidden;
  max-height: 60px;
}

.kpi-bar-meter-bar-content {
  height: 100%;
  background-color: var(--kpi-datapoint-bar-meter-color, rgb(75, 133, 169));
}

// Trumps
$inuit-enable-paddings--huge : true;
@import "px-spacing-design/_trumps.spacing.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";