<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-icon-set/px-icon-set.html">
<link rel="import" href="../asset-browser/asset-browser.html">
<link rel="import" href="../seed-table/seed-table.html">
<link rel="import" href="../kpi-bar/kpi-bar.html">
<link rel="import" href="rmd-view-styles.html">

<dom-module id="rmd-view">
  <template>
    <style include="rmd-view-styles">
    </style>
    <div>
      <asset-browser id="assetBrowser" asset-model="{{rmdAssetModel}}" opened-asset="{{openedAsset}}" asset-query-url="/api/predix-asset/asset/compressor-2017"
        asset-group-query-url="/api/predix-asset/group">
      </asset-browser>
    </div>
    <div id="assetHealthId" class="flex flex--row flex--justify" hidden$={{timeSeriesOnly}}>
      <div>
        <h1 class="delta u-pl++" style="display:inline;">Asset Health</h1>
        <button id="exportBtn" class="btn btn--primary csv-export-btn" on-tap="_exportAssetDashboard" hidden><iron-icon icon="px-utl:download"></iron-icon>Download</button>
      </div>
      <div>
        <div class="flex flex--row flex--right">
          <px-dropdown class="flex u-pr u-pt" id="refreshFrequencyDropdown" display-value="Refresh Frequency"
            items='[{"key":"0","val":"No Refresh"},{"key":"3","val":"Every 3 sec"},{"key":"15","val":"Every 15 sec"},{"key":"60","val":"Every 60 sec"}]'>
          </px-dropdown>
          <px-icon class="u-pr u-pt" id="refreshTableBtn" title="Refresh data now" icon="px-nav:reload"></px-icon>
        </div>
      </div>
    </div>

    <div class="u-pb" hidden$={{timeSeriesOnly}}>
      <kpi-bar datapoints="[[kpiDatapoints]]" overall-label="[[kpiOverallLabel]]" overall-value="[[kpiOverallValue]]" overall-max="[[kpiOverallMax]]"
        kpi-bar-wrapper-state="[[kpiBarWrapperState]]">
      </kpi-bar>
    </div>
    <iron-ajax id="kpiBarAjaxEl"></iron-ajax>

    <!-- If the RMD datasource is not enabled, you can pass in an asset directly. -->
    <!--<seed-table asset-data="{{openedAsset}}" show-asset-only="true"></seed-table>-->

    <!-- If RMD datasource is enabled, call that and pass data to the table. -->
    <seed-table id="seedTable"  hidden$={{timeSeriesOnly}} rmd-data="{{rmdTableData}}" show-clone-button="{{showCloneButton}}" is-a-clone="{{assetIsAClone}}" uri="{{uri}}"></seed-table>
    <iron-ajax id="datatableAjaxEl"></iron-ajax>

    <timeseries-chart id="tsChart" ws-url="[[wsUrl]]" tags="{{displayTags}}" hidden$="{{!showTimeseriesChart}}"></timeseries-chart>
  </template>
  <script>
    Polymer({
      is: 'rmd-view',
      properties: {
        rmdAssetModel: {
          type: Object,
          observer: '_assetModelChanged'
        },
        openedAsset: {
          type: Object,
          observer: '_openedAssetChanged'
        },
        rmdTableData: {
          type: Object
        },
        displayTags: {
          type: Array
        },
        showTimeseriesChart: {
          type: Boolean,
          value: false
        },
        wsUrl: {
          type: String
        },
        timeSeriesOnly: {
          type: Boolean
        },
        dataExchangeEnabled: {
          type: Boolean,
          value: false
        },
        assetIsAClone: {
          type: Boolean,
          value: false
        },
        showCloneButton: {
          type: Boolean,
          value: false,
          computed: '_computeShowCloneButton(dataExchangeEnabled, assetIsAClone)'
        },
        kpiBarWrapperState: {
          type: String
        },
        uri: {
          type: String
        }
      },

      _computeShowCloneButton: function(dataExchangeEnabled, assetIsAClone) {
        // show clone button if dx is enabled, and we're not looking at a clone.
        // don't show clone button if there's already a clone.
        return dataExchangeEnabled && !assetIsAClone && !localStorage.getItem('clonedAssetId');
      },

      _formatTagsForDisplay: function (assetTag) {
        var tags = [];
        Object.keys(assetTag).forEach(function (key) {
          var tag = {
            key: assetTag[key].timeseriesDatasource.tag,
            val: assetTag[key].label,
            unit: 'psi'
          }
          if (tag.key.indexOf('Temperature') > -1) {
            tag.unit = 'F';
          } else if (tag.key.indexOf('Ratio') > -1) {
            tag.unit = '';
          } else if (tag.key.indexOf('Velocity') > -1) {
            tag.unit = 'm/s'
          }
          tags.push(tag);
        });
        return tags;
      },
      _openedAssetChanged: function (newVal) {
        console.log('asset opened:', newVal);
        this.set('uri', newVal.uri);
        // console.log('********* in rmd-view, the value of uri is ' + this.uri);
        this.$.datatableAjaxEl.url = "/api/datagrid" + newVal.uri;
        this.$.kpiBarAjaxEl.url = this.$.datatableAjaxEl.url + '/summary';
        this.assetIsAClone = (newVal.uri !== '/asset/compressor-2017');
        this.$.datatableAjaxEl.generateRequest();
        if (newVal.assetTag) {
          this.displayTags = this._formatTagsForDisplay(newVal.assetTag);
        }
        this.showTimeseriesChart = newVal.uri.indexOf('asset') >= 0;
        this.$.exportBtn.removeAttribute('hidden');
        console.log('#### export button hidden state is ' + this.$.exportBtn.hidden);
      },
      _assetModelChanged: function (newVal) {
        // console.log('asset model changed:', newVal);
      },

      // We'll load the timeseries-chart asynchronously, since it's pretty heavy.
      _loadFragment: function (elementId, fragmentPath) {
        if (Polymer.isInstance(this.$[elementId])) {
          return;
        }
        Polymer.Base.importHref(fragmentPath, null, function () {
          console.log('failed to load:', fragmentPath);
        }, true);
      },

      _exportAssetDashboard: function() {
        window.open('/downloads/zip/AssetModel.zip', '_self');
      },

      ready: function () {
        this._loadFragment('tsChart', '/elements/timeseries-chart/timeseries-chart.html');
        // set copy of 'this' for callback function use below
        var that = this;
        // initialize refresh interval
        this.refreshTimerInterval = 0;
        this.wsUrl = document.querySelector('#view').elementData.wsUrl;
        this.timeSeriesOnly = document.querySelector('#view').elementData.timeSeriesOnly;
        this.dataExchangeEnabled = document.querySelector('#view').elementData.dataExchangeEnabled;
        this.$.assetBrowser.addEventListener('px-app-asset-selected', function(evt) {
          // console.log('px-app-asset-selected', evt);
          this.openedAsset = evt.detail.item;
        }.bind(this));

        this.$.kpiBarAjaxEl.addEventListener('response', function (evt) {
          var data = evt.detail.response;
          if (Array.isArray(data)) {
            data = data[0];
          }
          var kpis = data.kpis, overall = data.overall;
          kpis.forEach(function(kpi) {
            if (kpi.label && kpi.label.toLowerCase().indexOf('compressionratio') > -1) {
              kpi.label = 'Compression Ratio (avg)';
            }
          });
          this.kpiDatapoints = kpis;
          this.kpiOverallLabel = overall.title;
          this.kpiOverallValue = overall.percentage;
          this.kpiOverallMax = "100";
        }.bind(this));

        this.$.datatableAjaxEl.addEventListener('response', function (evt) {
          this.rmdTableData = evt.detail.response;
          this.$.kpiBarWrapperState = 'kpi-bar-wrapper-waiting';
          this.$.kpiBarAjaxEl.generateRequest();

        }.bind(this));

        // Set refresh  button behavior
        this.$.refreshTableBtn.addEventListener('click', function () {
          console.log('sending request for rmdData');
          that.$.datatableAjaxEl.generateRequest();
        });

        // Set refresh dropdown behavior
        this.$.refreshFrequencyDropdown.addEventListener('px-dropdown-selection-changed', function (evt) {
          var interval = 0;
          switch (evt.detail.key) {
            case '3':
              interval = 3000;  // every 3 seconds
              break;
            case '15':
              interval = 15000;  // every 3 seconds
              break;
            case '60':
              interval = 60000;  // every 60 seconds
              break;
          }
          clearInterval(that.refreshTimerInterval);

          // If no refresh selected, clear any existing interval
          if (interval === 0) {
            that.refreshTimerInterval = 0;
          }
          // else set interval according to user selection
          else {
            that.refreshTimerInterval = setInterval(function () {
              console.log('sending request for rmdData');
              that.$.datatableAjaxEl.generateRequest();
            }, interval);
          }
        });
      }
    });
  </script>
</dom-module>
